
*.suo
/MixinCSharp4/bin/Debug
/MixinCSharp4/bin/Release
/MixinCSharp4/obj/x86/Debug
/MixinCSharp4/obj/x86/Release
/WeakReferenceTest/bin/Debug
/WeakReferenceTest/bin/Release
/WeakReferenceTest/obj/x86/Release
/WeakReferenceTest/obj/x86/Debug