
*.suo
/MixinCSharp4/bin/Debug
/MixinCSharp4/bin/Release
/MixinCSharp4/obj/x86/Debug
/MixinCSharp4/obj/x86/Release
/WeakReferenceTest/bin/Debug
/WeakReferenceTest/bin/Release
/WeakReferenceTest/obj/x86/Release
/WeakReferenceTest/obj/x86/Debug
/TaskTest/bin/Debug
/TaskTest/bin/Release
/TaskTest/obj/x86/Release
/TaskTest/obj/x86/Debug
/GordiasClassLibrary/bin/Debug
/GordiasClassLibrary/bin/Release
/GordiasClassLibrary/obj/Debug
/GordiasClassLibrary/obj/Release
/ParallelTest/bin/Debug
/ParallelTest/obj/x86/Debug
/ExecutorTest\bin/Debug
/ExecutorTest\obj\x86/Debug
/ExecutorTest\bin/Debug
